*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body{
	background-color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
	text-decoration: none;
	background-color: #222;
	padding: 10px;
	margin: 10px 0;
	
	color: lightgray;
}

a:hover {
	background-color: #444;
	transition: background-color 0.3s;
}

.basic-link {
	color: rgb(81, 81, 247);
	background-color: transparent;
	
}

.basic-link:hover {
	color: rgb(19, 19, 247);
	background-color: transparent;
	text-decoration: underline;
	
}




h1 {
	font-size: 2rem;
}

h2 {
	padding: 10px;
	font-size: 1.75rem;
	color: white;
	background-color: #222;
	font-weight: lighter;
}

/* Mise en page (positionnement)
========================================================================== */



body img {
 width: 100%;
}

header {
	display: flex;
	justify-content: center;
	background-color: #222;

}



.space-btwn-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: black solid 1px;
	margin-bottom: 10px;
}


.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */

header .space-btwn-flex {
	
	border: none;
	margin: 0;
}


nav ul {
	list-style: none;

}
nav {
	padding: 0;
	margin: 0;
}
header img {
	max-width: 33%;
	margin: 0;
	padding: 0;
}
header a {
	margin: 0;
	
}

nav li {
	display: inline-block;
}

.below-footer {
	display: flex;
	justify-content: center;
}
footer {
	background-color: #222;
	color: white;
	margin-top: 20px;
}

footer p {
	font-size: 1.25rem;
}

footer a {
	color: #000;
	background-color: white;
}

footer a:hover {
	background-color: lightgray;
	transition: background-color 0.3s;
}



/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */

table {
	margin-bottom: 20px;
	border: #000 solid 2px;
	background-color: white;
	border-collapse: collapse;
}

th {
	border: #000 solid 2px;
	background-color: white;
	padding: 5px;
}
td {
	border: #000 solid 1px;
	background-color: white;
	padding: 5px;
}

/* Formulaires
========================================================================== */


.grid-accueil form div {
	margin: 10px 0;
	width: 100%;
}


.grid-accueil form > div{
	align-items: normal;
}

.grid-accueil form > div .form-submit{
	align-self: baseline;
}



.grid-accueil form {
	
	background-color: lightgray;
	padding: 20px;
	font-size: 1.5rem;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	
}

.form-submit {
	background-color: #222;
	color: lightgray;
}

.form-submit:hover {
	background-color: #444;
	transition: background-color 0.3s;
}

form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

form > div{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex-wrap: wrap;
}

form > div > fieldset {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex-wrap: wrap;
}
form fieldset{
	width: 100%;
}

 form input {
	margin: 10px 0;
	padding: 10px;
	border: #000 solid 1px;
	border-radius: 0;
}

form select {
	margin: 10px 0;
	padding: 10px;
	border: #000 solid 1px;
	border-radius: 0;
}

form textarea {
	margin: 10px 0;
	padding: 10px;
	border: #000 solid 1px;
	border-radius: 0;
}

#ckb-arret {
	display: inline-block;
}


/* Règles spécifiques aux pages
========================================================================== */

.fiche-employe-contenu {
	display: flex;
}

table {
	width: 100%;
}

.fiche-employe-contenu > div{
	display: flex;
	flex-direction: column;
	width: 66%;
	margin: 10px;
	padding: 10px;
	background-color: lightgray;
}

#fiche-employe-img {
	padding: 0;
}


.fiche-employe-contenu > .w33 {
	width: 33%;
	margin: 10px;
	padding: 10px;
}

.fiche-employe-contenu a {
	margin: 10px 0;
	align-self: baseline;
}

.titre-num {
	display: flex;
	align-items: end;
}

.grid-accueil {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}


.grid-employes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.carte-employe {
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.titre-recherche {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titre-recherche form {
	flex-direction: row;
	flex-wrap: nowrap;
}



#txt-recherche {
	min-width: 350px;
}



@media screen and (min-width: 1200px)  {
	
	header nav {
		display: flex !important;
	}
	header nav * {
		display: flex !important;
	}

	header div > img {
		display: none !important;
		
	}

	.grid-accueil form {
		grid-column: 1/3;
		grid-row: 2/4;
	}

	.grid-accueil .img-grosse {
		grid-row: 1/3;
		grid-column: 3/5;
	}
}

@media screen and (min-width: 960px) and (max-width: 1200px) {

	header nav {
		display: none !important;
	}
	header nav * {
		display: none !important;
	}

	header div > img {
		display: block !important;
		width: 45px;
	}
	
	.grid-accueil {
		
		grid-template-columns: 1fr 1fr;
	}

	.grid-accueil form {
		grid-column: 1/3;
		grid-row: 1/3;
	}

	.grid-accueil .img-grosse {
		grid-row: 4/6;
		grid-column: 1/3;
	}

	.grid-employes {
		
		grid-template-columns: 1fr 1fr;
		
	}
	form > div {
		width: 100%;
	}
}


@media screen and (max-width: 960px) {
	header nav {
		display: none !important;
	}
	header nav * {
		display: none !important;
	}
	header div > img {
		display: block !important;
		width: 45px;
	}

	.grid-accueil {
		
		grid-template-columns: 1fr;
	}

	.grid-accueil form {
		grid-column: 1/2;
		grid-row: 1/3;
	}

	.grid-accueil .img-grosse {
		grid-row: 5/6;
		grid-column: 1/2;
	}



	.grid-employes {
		
		grid-template-columns: 1fr;
		
	}
	form > div {
		width: 100%;
	}
	

	
}

@media print {
	header *{
		display: none !important;
	}

	footer *{
		display: none !important;
	}

	.below-footer *{
		display: none !important;
	}

	.operations *{
		display: none !important;
	}

	.frm-recherche *{
		display: none !important;
	}
	h2 {
		background-color: #555;
		color: white;
	}
}
